/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.myButton {
  margin: 10px
}

.dependency {
  display: flex;
  align-items: center;
  justify-content: center;
}

.roundedImage {
  width: 200px;
  height: 200px;
  border-radius: 50%; /* Makes the image circular */
  background-color: white; /* Sets the background color to white */
  padding: 5px; /* Adds some space between the image edge and the circular border */
  border: 2px solid white; /* Optional: Adds a white border around the image */
  display: inline-block; /* Ensures the padding and border-radius are applied correctly */
}